body {
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Noto Sans SC',
sans-serif;
}

p {
   font-family: 'Roboto',
   sans-serif;
   line-height: 125%;
}

.content {
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: #7395ae;
    text-align: center;
}

#name {
    width: 100%;
}

#avatar {
    width: 50%;
    border-radius: 100%;
}

#bio {
    margin: auto;
}

#bio-text {
    padding: 5%;
    text-align: start;
}

.links {
    margin-bottom: 2.5%;
}

.link-svgs {
    width: 32px;
    height: 32px;
}

.skills {
        padding: 2.5%;
        text-align: center;
        background-color: #b1a296;
        margin: auto;
        width: 100%;
        height: fit-content;
        
}
 
hr {
    width: 75%;
}