body {
    background: #1C1C25;
    color: #C0C3C4;
    font-family: 'Fira Sans Condensed',
        sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.intro {
    font-size: 5vw;
}
#name {
    color: #6F51DB;
}
#contact{
    width: 100%;
    text-align: center;
}

#contact li {
    display: inline;
    padding-right: 20px;
}

.icons {
    width: 40px;
    filter: invert(1);
}